.navbarfrm{
    margin-bottom: 80px;
}
.regis{
    justify-items: center;
    margin-left: 350px;
    width: 750px;
    margin-bottom: 60px;
}
.regis button{
    margin-left: 230px;
    width: 300px;
}