.navbarfrm{
    margin-bottom: 100px;
}
.regis button{
    margin-left: 230px;
    width: 300px;
}
.Titulo{
    margin-left: 270px;
}
.footerPaciente{
    margin-top: 350px;
}
.footerCitas{
    margin-top: 445px;
}