body {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-color: black;
}

body::after {
    content: "";
    background: url("../img/fondo-login.jpeg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    z-index: -1;
}

.tarjetas {
    width:100%; 
    height:auto; 
    justify-content:center; 
    align-items:center; 
    display:flex; 
    flex-wrap:wrap;
    margin-top: 48px;
    padding: 50px 0;
    margin: 100px 50px 50px 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
 p{
    text-align: center;
 }

.card {
    margin: 50px 30px;
    width: 500px;
    height: 400px;
    perspective: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border: 0px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-image: url('../img/citas.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:nth-child(1) .card-front {
    background-image: url('../img/citas.jpg');
}

.card:nth-child(2) .card-front {
    background-image: url('../img/consulta.jpeg');
}

.card:nth-child(3) .card-front {
    background-image: url('../img/doctor.jpeg');
}

.card-front::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.card-front h2 {
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.card-back {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    z-index: 3;
}

.card-back h2 {
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    background-color: #BFA58E;
    border-radius: 10px;
}

.btn-close {
    margin-left: auto;
}

footer {
    background-color: #BFA58E;
}

.offcanvas {
    background-color: #403D38;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    min-width: 400px;
    max-width: 600px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.offcanvas button {
    background-color: rgba(255, 255, 255, 0.541);
}

.container-fluid button {
    background-color: white;
}

.navbar{
    display: flex;
    flex-direction: column;
}

.nav-link{
    margin: 5px 0;
    text-align: center;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #BFA58E;
}

.card-back button{
    border: 0;
    color: white;
    border-radius: 10px;
    background-color: #403D38;
    transition: transform 0.3s ease;
    width: 150px;
}
.card-back button:hover{
    transform: scale(1.2);
}

.btn{
    transition: transform 0.2s ease;
}

footer section a:hover{
    transform: scale(1.2);
}

