.navbarfrm{
    margin-bottom: 250px;
}

.regis{
    justify-items: center;
    margin-left: 600px;
    width: 800px;
    margin-bottom: 150px;
}
.regis button{
    margin-left: 230px;
    width: 300px;
}
